body{

    background-color: LightGray;
	 }

div {
	border: 1px solid Chocolate;
}

.top-navigation{
	background-color:  fff;
}
.top-navigation > .content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
}
}
 .top-navigation .links li{
	display: inline-block;
	margin-left: 1.563rem;
}
.links {
	float: right;
	display: inline-block;
}
img{
	float: left;
	margin-left:14px;
}
